
*{
    box-sizing: content-box;
    margin: 0;
    margin-top: 0;
    padding: 0;
    padding-left: 0;
    border-right: 2px;
    box-shadow: 1px;
}

html {
    height: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    margin-left: 5%;
}

.grid-container {
    width: 580px;
    height: 750px;
    border: 2px solid black
    
}

.grid-container >*{
    padding: 5px;
    text-align: center;
}

.foto {
    grid-area: foto;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
    background-color: rgb(119, 107, 139);
}

.perfil {
    grid-area: perfil;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.perfil h4 {
    background-color:silver;
    padding: 5px;
    padding-left: 15px;
    text-align:left;
}

.contactarme {
    grid-area: contactarme;
    background-color: rgb(119, 107, 139);
    font-size: small;
    padding: 5px;
    color:white;
}

#iconLocation {
    grid-area: contactarme;
    background-color: rgb(109, 107, 112);
    font-size: larger;
    padding: 0px;
    color:white;
}

#github {
    grid-area: contactarme;
    background-color: rgb(119, 107, 139);
    /*rgb(109, 107, 112)*/
    font-size: medium;
    padding: 5px;
    color:white;
}

#iconGit {
    grid-area: contactarme;
    background-color: rgb(119, 107, 139);
    /*rgb(109, 107, 112)*/
    font-size: medium;
    padding: 5px;
    color:white;
}

.contactarme .portafolios h4 {
    background-color:silver;
    color: black;
    font-size: medium;
    padding: 5px;
    padding-left: 10px;
    text-align:left;
}

.contactarme h4 {
    background-color:silver;
    color: black;
    font-size: medium;
    padding: 5px;
    padding-left: 10px;
    text-align:left;
}

.educacion {
    grid-area: educacion;
    background-color: white;
    height: 200px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.educacion h4 {
    background-color:silver;
    color: black;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
}

.experiencia {
    grid-area: experiencia;
    background-color: white;
    height: 20px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.experiencia h4 {
    background-color:silver;
    color: black;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
}

.footer {
    grid-area: footer;
    background-color: white;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
    padding-right: 15px;
}

.EMR {
    grid-area: EMR;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: left;
    padding: 20px;
    left: 20px;
}

.EMR h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.grid-container {
    display: grid;
    margin-left: 15%;
    grid-template-areas:
        "contactarme"
        "perfil"
        "foto"
        "EMR"
        "educacion"
        "experiencia"
        "footer";
}

.grid-container {
    grid-template:
    "foto perfil" 120px
    "EMR EMR" 100px
    "contactarme educacion"
    "contactarme experiencia"
    "contactarme footer" /
    180px      400px;
}

